@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}

.success{
  background-color:blue;
  color:white;
  opacity:1
}
.invisible-msg{
  opacity:0
}

.error{
  background-color:red;
  color:white;
  opacity:1
}


.loader {
  height:60vh;
  display: flex;
  align-items: center;
  items-align:center;
  justify-content:center;
  width:100%;
  box-sizing: border-box;
}

.bar {
  display: inline-block;
  width: 3px;
  height: 40px;
  background-color:black;
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: .25s;
}

.bar:nth-child(3) {
  animation-delay: .5s;
}

@keyframes scale-up4 {
  20% {
    background-color: orange;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

